{% extends "basic_app/base.html" %}
{% load static %}

{% block body_block %}
  <div class="container">
    <div class="jumbotron">
      {% if registered %}
        <h1>Thank you for registering!</h1>
      {% else %}
        <h1>Register Here</h1>
        <h3>Just fill out the form.</h3>

        <!-- # now we need to make the form, using template tagging! -->
        <form enctype="multipart/form-data" method="POST">
          <!-- # enctype="multipart/form-data" is needed because we'll be importing multimedia data that we're uploading from the users! -->
          <!-- # without the above the image uploading won't work! -->
          {% csrf_token %}
          {{ user_form.as_p }}
          <!-- # this is defined in views.py -->
          {{ profile_form.as_p }}
          <!-- # this is defined in views.py -->
          <input type="submit" name="" value="Register">
        </form>

      {% endif %}

    </div>

  </div>

{% endblock %}
